aiogram==2.12.1
aiohttp==3.7.4.post0
altgraph==0.17
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.6
Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
et-xmlfile==1.0.1
geojson==2.5.0
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
multidict==5.1.0
numpy==1.20.1
openpyxl==3.0.7
pandas==1.2.3
pycodestyle==2.7.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
pyowm==3.2.0
PySocks==1.7.1
python-dateutil==2.8.1
pytube==10.7.1
pytz==2021.1
requests==2.25.1
schedule==1.1.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wrapt==1.12.1
yarl==1.6.3